.current-projects__header {
    display: block;
    text-align: center;
    font-style: normal;
    font-size: 52px;
    font-weight: 800;
    line-height: 130%;
    color: rgb(43,43,43);
}

.current-projects__content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 84px;
    padding-bottom: 132px;
    gap: 30px;
}

.project__image_desctop {
    width: 100%;
}

.project__content-title {
    padding-top: 32px;
}

.content-title__decoration {
    margin: 0px;
    font-style: normal;
    font-size: 28px;
    font-weight: 600;
    line-height: 150%;
    color: rgb(43,43,43);
}

.project__content-text {
    padding-top: 24px;
    padding-bottom: 0px;
}

.content-text__decoration {
    margin: 0px;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    line-height: 180%;
    color: rgb(91, 91, 91);
}

.content-text_orange {
    color: rgb(255, 102, 0);
    text-decoration: none;
}

.project__image_mobile {
    display: none;
}

@media (max-width: 1200px) {
    .current-projects__header {
        display: block;
        text-align: center;
        font-style: normal;
        font-size: 24px;
        font-weight: 800;
        line-height: 130%;
        color: rgb(255, 102, 0);
    }

    .current-projects__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0px;
        padding-bottom: 0px;
        padding-top: 24px;
    }

    .project__image_desctop {
        display: none;
    }

    .project__image_mobile {
        display: block;
        width: 100%;
    }

    .project__content-title {
        padding-top: 16px;
    }

    .content-title__decoration {
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 150%;
    }

    .project__content-text {
        padding-top: 16px;
    }

    .content-text__decoration {
        display: flex;
        flex-direction: column;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 180%;
    }

    .content-text_orange {
        padding-top: 16px;
        padding-bottom: 40px;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
    }
}    