body {
    margin: 0;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
}

.footer {
    padding-bottom: 40px;
    background-color: rgb(43, 43, 43);
}

.footer-top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 56px;
}

.footer-top__excursy {
    padding-left: 16px;
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.footer-center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    gap: 24px;
}

.footer-center__social-img {
    height: 36px;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    gap: 40px;

}

.footer-bottom__link-line1 {
    display: flex;
    gap: 40px;
}

.footer-bottom__link-line2 {
    display: flex;
    gap: 40px;
}

.footer-bottom__links {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

@media (max-width: 520px) {
    .footer {
        padding-bottom: 83px;
    }

    .footer-top {
        padding-top: 35px;
    }
    
    .footer-center {
        padding-top: 38px;
    }

    .footer-bottom {
        display: block;
        padding-top: 52px;
    }

    .footer-bottom__link-line1 {
        display: flex;
        justify-content: center;
        gap: 50px;
    }

    .footer-bottom__link-line2 {
        display: flex;
        justify-content: center;
        padding-top: 35px;
        gap: 50px;
    }
}