.values {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 179px;
    gap: 69px;
}

.values__image_desktop {
    width: 100%;
}

.values__content-title {
    display: block;
    margin: 0px;
    font-style: normal;
    font-weight: 800;
    font-size: 52px;
    line-height: 130%;
    color: rgb(43,43,43);
}

.values__content-text {
    display: block;
    margin: 0px;
    padding-top: 35px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 180%;
    color: rgb(91, 91, 91);
}

.values__content-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 161px;
    height: 54px;
    margin-top: 35px;
    border-radius: 8px;
    background-color: rgb(255, 102, 0);
}

.content-button__text {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.values__image_mobile {
    display: none;
}

@media (max-width: 1200px) {

    .values__image_desktop {
        display: none;
    }

    .values__image_mobile {
        display: block;
        width: 100%;
    }

    .values {
        display: flex;
        flex-direction: column;
        padding-bottom: 47px;
        gap: 0px;
    }

    .values__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .value__content-title {
        margin: 0px;
        padding-top: 16px;
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 130%;
        color: rgb(43,43,43);
    }

    .values__content-text {
        text-align: center;
        padding-top: 16px;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 180%;
        color: rgb(91, 91, 91);
    }

    .values__content-button {
        margin-top: 32px;
    }

    .content-button__text {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        color: rgb(255, 255, 255);
    }
}